<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        <link href="{{ asset('css/style.css') }}" rel="stylesheet"/>

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>
    <body>
        <header>
            <div class="logo">
                <h1>Emeu17 MVC Project</h1>
            </div>
            <nav>
                {% set route = app.request.attributes.get('_route') %}
                <a {{ route ==  'home' ? 'class="active"' }} href="{{ path('home') }}">
                    Home
                </a> |
                <a {{ route ==  'startGame' ? 'class="active"' }} href="{{ path('startGame') }}">
                    Game 21
                </a> |
                <a {{ route ==  'score' ? 'class="active"' }} href="{{ path('score') }}">
                    Highscore
                </a> |
                <a {{ route ==  'dice_view' ? 'class="active"' }} href="{{ path('dice_view') }}">
                    Dice
                </a> |

                <a {{ route ==  'books' ? 'class="active"' }} href="{{ path('books') }}">
                    Books
                </a>

            </nav>
        </header>
        <main>
            {% block main %}{% endblock %}
        </main>
        <footer>
            <p>&#169; Emeu17 2021</p>
            Github repository: <a href="https://github.com/emeu17/mvc_projekt" target="_blank">Click here</a>
        </footer>
    </body>
</html>
