{% extends 'base.html.twig' %}


{% block main %}
    <h1>Statistics</h1>

    <p>Highscore Id: {{ id }} </p>
    <p>Player name: {{ name }} </p>

    <p><b> Statistics over players ( {{ name }} ) rolled dices.</b></p>

    {% for dice, res in diceStat %}
        {{ dice }} : {{ res }}<br>
    {% endfor %}

    <p>Histogram over players rolled dices: </p>
    {% for row in hist %}
        {{ row }} <br>
    {% endfor %}

{% endblock %}
